:root {
	--body-background-color: #eee;
	--body-text-color: #222;
	--section-background-color: white;
	--section-p-text-color: #222;
	--section-text-underline-color: #2a79b5;
}

html[data-theme="dark"] {
	--body-background-color: #282d31;
	--body-text-color: #ccc;
	--section-background-color: rgba(255, 255, 255, 0.033);
	--section-p-text-color: rgba(255, 255, 255, 0.625);
}

body {
	background-color: var(--body-background-color);
	color: var(--body-text-color);
}

section {
	background-color: var(--section-background-color);
}
section p {
	color: var(--section-p-text-color);
	overflow-wrap: break-word;
}

body {
	margin: auto;
	padding: 20px;
	font-family: Noto Sans, Helvetica, Arial, sans-serif;
	max-width: 1800px;
}

@media screen and (max-width: 500px) {
	body {
		padding: 10px;
	}
	section {
		margin: 20px 5px !important;
	}
}

header {
	font-size: 1.2em;
	display: flex;
	flex-wrap: wrap;
}

header figure {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto 2em;
}

@media screen and (max-width: 600px) {
	header ul {
		width: 100%;
	}
}

header ul {
	margin-top: 1.5em;
	list-style-type: none;
}

img[alt*="icon"] {
	width: 1.2em;
	margin-top: 0.5em;
	height: 100%;
	margin-right: 0.5em;
	border-radius: 5px;
}

#content {
	display: flex;
	flex-wrap: wrap;
}

h1 {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

h2 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	width: 100%;
	font-size: 1.6em;
}

section {
	width: 400px;
	max-width: 97%;
	box-shadow: 0.125rem 0.125rem 1rem rgba(0, 0, 0, 0.2);
	margin: 10px;
	border-radius: 0.5rem;
	cursor: pointer;
}
section.noAutoLink {
	cursor: auto;
}

section h3,
section p {
	padding: 0.5em 2em;
}

section p:first-child {
	margin: 0 !important;
	padding: 0 !important;
}

section:hover {
	box-shadow: 0.125rem 0.375rem 1.15rem rgba(0, 0, 0, 0.25);
	transform: translateY(-0.25rem);
	transition: transform 150ms ease-out, box-shadow 150ms ease-out;
}

section h3 {
	border-bottom: 1px solid var(--section-text-underline-color);
	width: fit-content;
	margin: 1em auto;
	padding: 0;
	text-align: center;
	font-size: 1.4em;
}

section a {
	color: var(--section-text-underline-color);
	display: block;
	text-align: left;
	font-size: 0.86em;
	margin-top: 0.25em;
}

section p span {
	font-size: 0.95em;
	display: block;
	margin-top: 0.5em;
}

img {
	object-fit: fill;
	object-position: center;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	border-radius: 0.5rem 0.5rem 0 0;
	height: 300px;
	max-width: 97%;
}

figure img {
	height: 100% !important;
}

.mode {
	position: absolute;
	right: 10%;
	border-radius: 20px;
	padding: 10px 20px;
	height: 1.2em;
}

html[data-theme="dark"] .mode {
	background-color: #444;
}

html[data-theme="light"] .mode {
	background-color: #666;
}

.mode:after {
	margin-left: 0.5em;
}

html[data-theme="dark"] .mode:after {
	content: "Light";
}
html[data-theme="light"] .mode:after {
	content: "Dark";
	color: white;
}